{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'assets/css/sessions.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'assets/images/icon.ico' %}" type="image/x-icon">
    <title>Movie sessions | kino kör</title>
    <script type="text/javascript">
    document.ondragstart = noselect;
    document.onselectstart = noselect;
    document.oncontextmenu = noselect;
    function noselect() {return false;}
    </script>
  </head>
  <body>
    <!-- Menu -->
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <div class="header__logo">
            <img src="{% static 'assets/images/logo.png' %}">
          </div>
          <nav>
            <a class="nav__link" href="{% url 'main'%}">Movies</a>
            <a class="nav__link" href="{% url 'news'%}">News</a>
            <a class="nav__link" href="{% url 'feedback'%}">Feedback</a>
            <a class="nav__link" href="{% url 'contacts'%}">Contacts</a>
            {% if request.user.is_authenticated %}
            <a class="nav__link" href="{% url 'logout' %}"><img src="{% static 'assets/images/logout.png' %}" class="nav__profile"></a>
            {% else %}

            <a class="nav__link" href="{% url 'register' %}"><img src="{% static 'assets/images/profile.png' %}" class="nav__profile"></a>
            {% endif %}
          </nav>
        </div>
      </div>
    </header>

    <!-- Sessions -->
    <section class="sessions">
      <div class="container">
        <div class="sessions__title">MOVIE SESSIONS</div>
        <div class="schedule__head">
          <div class="sc_head__col"><a href="{% url 'session' pk=film.pk %}">Time</a></div>
          

            <div class="sc_head__col"><a href="{% url 'sort' pk=film.pk %}">cinema</a></div>
          <div class="sc_head__col">Price</div>
          </form>
          
          <div class="sc_head__col">⠀⠀⠀</div>
        </div>
        <div class="schedule__sessions">
          {% for session in sessions %}
          <div class="sc_sessions_row">
            <div class="row_divider">{{session.start_time}}</div>
            <div class="row_divider">{{session.kino_teatre}}</div>
            <div class="row_divider">{{session.tic_price}}₸</div>
            <a href="{% url 'seat' pk=session.pk %}"><div class="row_divider__button">Buy</div></a>
          </div>
          {% endfor %}
          

        </div>
      </div>
    </section>

    <!-- Footer -->
    <section class="footer">
      <div class="container">
        <div class="footer__inner">
          <a href="#"><img class="sns" src="{% static 'assets/images/footer/facebook.png' %}"></a>
          <a href="#"><img class="sns" src="{% static 'assets/images/footer/instagram.png' %}"></a>
          <a href="#"><img class="sns" src="{% static 'assets/images/footer/linkedin.png' %}"></a>
          <a href="#"><img class="sns" src="{% static 'assets/images/footer/twitter.png' %}"></a>
          <a href="#"><img class="sns" src="{% static 'assets/images/footer/youtube.png' %}"></a>
        </div>
        <div class="footer__subtitle"><a href="#">© 2022 SU</a></div>
      </div>
    </section>

  </body>
</html>
